@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DataBase.Entietes.User

@foreach (var ticket in Model.Tickets)
{
    <div class="card w3-card">
        <div class="card-body">
            <h4 class="card-title w3-card">Ticket @(ticket.Id + 1)</h4>
            
            @if (ticket.Answers.Count > 0)
            {
                <p class="card-text w3-card">@ticket.CorrectCount / @ticket.QuestionsCount</p>
                <p class="card-text w3-card">@ticket.Date.ToString("f")</p>
            }

            <a asp-controller="Tickets" asp-action="StartTicket" asp-route-ticketIndex="@ticket.Id" style="color:aqua">Start</a>
        </div>
    </div>
}